.action-card-container {
    
    width:  auto;
    height: auto;
    padding: 1rem;
    background-color: white;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    border-radius:.4rem;
    margin-bottom: 1rem;
}

.action-card-content h1 {
    font-size: 1.45rem;
    font-weight: bold;
}

.action-card-content p {
    margin-top: .15rem;
    text-align: justify;
}